In [1]:
# project: p4
# submitter: alee88
# partner: none
# hours: 4

In [2]:
import csv

# copied from https://automatetheboringstuff.com/chapter14/
def process_csv(filename):
    exampleFile = open(filename, encoding="utf-8")
    exampleReader = csv.reader(exampleFile)
    exampleData = list(exampleReader)
    exampleFile.close()
    return exampleData

# use process_csv to pull out the header and data rows
csv_rows = process_csv("ny.csv")
csv_header = csv_rows[0]
csv_data = csv_rows[1:]

In [3]:
def cell(row_idx, col_name):
    
    if not col_name in csv_header:
        area_id_idx = csv_header.index("area_id")
        area_id = csv_data[row_idx][area_id_idx]
        if area_id not in areas:
            return "missing"
        return areas[area_id][col_name]
    
    col_idx = csv_header.index(col_name)
    val = csv_data[row_idx][col_idx]
    if val == "":
        return None
    # optional: convert types based on column name, ensuring that the
    # float and int values are appropriately converted
    return val

In [4]:
#q1
room_types = set()
for i in range(len(csv_data)):
    room_type = cell(i, "room_type")
    room_types.add(room_type)
room_types

{'Entire home/apt', 'Private room', 'Shared room'}

In [5]:
#q2
average = 0
for i in range(len(csv_data)):
    curr_price = cell(i, "price")

In [6]:
#q3
name_set = set()
for i in range(len(csv_data)):
    room_name = cell(i, "name")
    if room_name == None:
        continue
    if "SUPERBOWL" in room_name.upper():
        name_set.add(room_name)
name_set

{'1500 sq ft apt sleeps 8 - SuperBowl',
 '1BR Superbowl rental Hells Kitchen',
 'Downtown NY Apt - SuperBowl Weekend',
 'MANHATTAN SUPERBOWL ACCOMODATION',
 'NYC SuperBowl Wk 5 Bdrs River View ',
 'PERFECT SUPERBOWL STAY',
 'SUPERBOWL!! 2 Bd, 2 Ba w Roof Deck!',
 'SUPERBOWLSUNDAY! 3BLOCK FROM TIMESQ',
 'Super Apt for Superbowl',
 'SuperBowl Penthouse Loft 3,000 sqft',
 'SuperBowl Weekend Rental! 3 BR/1ba',
 'SuperBowl West Village Apartment',
 'Superbowl - NYC Apartment',
 'Superbowl Studio Upper West Side',
 'Superbowl in the West Village',
 'Tribeca Loft for Superbowl Wknd',
 'UWS MANHATTAN APT FOR SUPERBOWL WE'}

In [7]:
#q4
def find_text_in_string(text_to_find):
    name_set = set()
    for i in range(len(csv_data)):
        room_name = cell(i, "name")
        if room_name == None:
            continue
        if text_to_find in room_name.upper():
            name_set.add(room_name)
    return name_set

find_text_in_string("CABLE" or "FREE WIFI")

{'1 bedroom furnished with WIFI and cable. Murr Hill',
 '2Bed/ 2Bath Impeccable Stylish Brooklyn Home',
 'Cable and wfi, L/G included.',
 'Coney Island  Amphitheat  MCU 1 br  Wifi Cable **',
 'Coney Island MCU Park Wi fi Cable Apt****',
 'Cozy, impeccable, sunlit West Village studio',
 'Cozy,budget friendly, cable inc, private entrance!',
 'Historic Turret Retreat (Smart TV/Cable/Wifi)',
 'Huge 1bdrm w pt Doorman, WiFi/Cable, Bottled Water',
 'Impeccable Private one&half bedroom and full bath',
 'J- **LUXURY SHARED ROOM 2PPL FREE WIFI+CABLE+AC',
 'J- *LUXURY SHARED ROOM AC FREE WIFI CABLE, GARDEN',
 'J- HOTEL STYLE SHARE ROOM FOR 2PPL FREE CABLE WIFI',
 'J- HOTEL STYLE SHARE ROOM FOR 2PPL FREE WIFI CABLE',
 'J- LUXURY SHARED ROOM, AC FREE WIFI+CABLE GARDEN',
 'Luxury condo- private room + bath w cable TV/W/D',
 'Private Studio: Landmark Dt (Smart TV/Wifi/Cable)',
 'Pvt entrance lower level apt w/cable-wi-fi pvt bth',
 'ROOM AC WI-FI PARKING CABLE FOR 2',
 'Tudor Studio (Wifi/Premium Cable) w Private Entry'}

In [8]:
def sqft(s):
    s = s.lower()
    s = s.replace(" ", "")
    s = s.replace(",", "")
    sqft_index = s.find("sqft")
    if sqft_index == -1:
        return 0

    s = s[:sqft_index]
    start_idx = 0
    while not s[len(s)-1].isdigit():
        s = s[:-1]
    for i in range(len(s) - 1, - 1, - 1):
        if not s[i].isdigit():
            start_idx = i + 1
            break

    return int(s[start_idx:])

In [9]:
#q5
sqft("SOHO LOFT: 2000sq ft renovated & centrally located")

2000

In [10]:
#q6
sqft("1760 Sq ft Penthouse apartment")

1760

In [11]:
#q7
sqft("Large Room in Hip Lefferts Garden 1,100 SQ Ft Apt.")

1100

In [12]:
#q8
sqft("SuperBowl Penthouse Loft 3,000 sqft")

3000

In [13]:
#q9
sqft("Newly renovated 2 bedroom with FREE WIFI")

0

In [14]:
#q10
sqft("1500+ sq ft 2BR West Village Loft")

1500

In [15]:
areas = {
 "100": {
  "area": "Bronx",
  "neighborhood": "Allerton"
 },
 "101": {
  "area": "Bronx",
  "neighborhood": "Baychester"
 },
 "102": {
  "area": "Bronx",
  "neighborhood": "Belmont"
 },
 "179": {
  "area": "Brooklyn",
  "neighborhood": "Kensington"
 },
 "205": {
  "area": "Manhattan",
  "neighborhood": "Harlem"
 },
 "318": {
  "area": "Staten Island",
  "neighborhood": "Westerleigh"
 },
 "319": {
  "area": "Staten Island",
  "neighborhood": "Willowbrook"
 },
 "320": {
  "area": "Staten Island",
  "neighborhood": "Woodrow"
 }
}

In [16]:
#q11
cell(2, "area")

'Manhattan'

In [17]:
#q12
cell(0, "neighborhood")

'Kensington'

In [18]:
#q13
cell(1, "area")

'missing'

In [19]:
#q14
cell(3, "neighborhood")

'missing'

In [20]:
neighborhood_count = {}
for i in range(len(csv_data)):
    neighborhood = cell(i, "neighborhood")
    if neighborhood not in neighborhood_count:
        neighborhood_count[neighborhood] = 1
    else:
        neighborhood_count[neighborhood] += 1

In [21]:
#q15
neighborhood_count

{'Kensington': 175,
 'missing': 45985,
 'Harlem': 2658,
 'Allerton': 42,
 'Woodrow': 1,
 'Belmont': 24,
 'Baychester': 7,
 'Westerleigh': 2,
 'Willowbrook': 1}

In [22]:
#q16
[cell(0, "neighborhood"),
 cell(1, "neighborhood"),
 cell(2, "neighborhood"),
 cell(3, "neighborhood")]

['Kensington', 'missing', 'Harlem', 'missing']

In [23]:
#q17